# Compiled Files
*.vo
*.vos
*.vok
*.glob
*.aux
*.v.d
\#*
*~
*.idx
*.out
*.log
*.idx
*.aux
*.snm
*.pygtex
*.pygstyle
theories/html/
.lia.cache
bigfib.ml
bigfib.mli
bigmod.ml
bigmod.mli
_build/
.DS_Store
__pycache__
alectryon-html/
.envrc
*.sty
!doc/coqdoc.sty
!doc/drawstack/drawstack.sty
*.nav
*.vrb
theories/CoqPlain/CoqFundamentals.tex
theories/CoqPlain/Monads.tex
theories/CoqPlain/Refinement.tex
theories/CoqPlain/Modelling.tex
theories/CoqPlain/CoqFundamentalsShort.tex
theories/CoqPlain/*_Alectryonified.v
theories/CoqPlain/RefinementLeftovers.tex
